<html>
    <head>
        <title>Epicuisine</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body class="text-center container">
        <div id="wrapper">
            <div id="header">
                <a href="/"><h1>Epicuisine</h1></a>
                <div class="row">
                    <form action="/search" method="get">
                        <input id="search" name="search" type="text" placeholder="Restaurant or cuisine">
                        <button class="btn-info" type="submit">Search</button>
                    </form>
                </div>
                <hr>
            </div>
            <div id="body">
                <h1>{{ restaurant.getName }}</h1>
                <p>{{ restaurant.getAddress }}</p>
                {% if reviews is not empty %}
                    <ul class="list-inline list-unstyled">
                        {% for review in reviews %}
                            <li><ul>
                                <li>{{ review.getUser }}</li>
                                <li>{{ review.getDate }}</li>
                                <li>{{ review.getRating }}</li>
                            </ul>&nbsp;&nbsp;&nbsp;</li>
                        {% endfor %}
                    </ul>

                {% else %}
                  <p>No reviews have been added!</p>
                {% endif %}
            </div>
            <div id="footer">
                <form action="/review" method="post">
                    <input id="restaurant_id" name="restaurant_id" type="hidden" value="{{ restaurant.getId() }}">
                    <input id='user' name='user' type='user' placeholder='your name'>
                    <input id='date' name='date' type='date' placeholder="date">
                    <input id='rating' name='rating' type='number' placeholder="rating">
                  <button class="btn-success" type="submit">Add Review</button>
                </form>

                <hr>
                <div class="row">
                    <form action="/restaurant/{{ restaurant.getId }}" method="post">
                        <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">
                        <input name="_method" type="hidden" value="patch">
                        <input id="name" name="name" type="text">
                      <button class="btn-warning" type="submit">Update Name</button>
                    </form>
                    <form action="/restaurant/{{ restaurant.getId }}" method="post">
                      <input name="_method" type="hidden" value="delete">
                      <button class="btn-danger" type="submit">Delete this Restaurant</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
